<?xml version="1.0" encoding="utf-8"?>
<!-- author: Phil Brown -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.csci5271.group3d"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application android:icon="@drawable/warning" 
                 android:label="@string/app_name"
                 android:debuggable="true"
                 android:name=".Init">
        <activity android:name=".Main"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PermissionsDialog" 
                  android:label="Permissions Checker" >
        </activity>
        <activity android:name=".Settings" 
                  android:label="Permissions Checker" >
        </activity>
        <receiver android:name=".PackageHandler">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

    </application>
</manifest>